{
  "redex" : {
    "passes" : [
      "InterDexPass",
      "RegAllocPass"
    ]
  },
  "InterDexPass" : {
    "minimize_cross_dex_refs": true,
    "minimize_cross_dex_refs_method_ref_weight": 100,
    "minimize_cross_dex_refs_field_ref_weight": 90,
    "minimize_cross_dex_refs_type_ref_weight": 100,
    "minimize_cross_dex_refs_string_ref_weight": 90
  },
  "RegAllocPass" : {
        "live_range_splitting": false
  },
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : "class_order"
}