{
  "redex" : {
    "passes" : [
      "StripDebugInfoPass",
      "InterDexPass",
      "RegAllocPass"
    ]
  },
  "StripDebugInfoPass" : {
       "drop_all_dbg_info" : false,
       "drop_local_variables" : true,
       "drop_line_numbers" : false,
       "drop_src_files" : false,
       "use_whitelist" : false,
       "cls_whitelist" : [],
       "method_whitelist" : [],
       "drop_prologue_end" : true,
       "drop_epilogue_begin" : true,
       "drop_all_dbg_info_if_empty" : true
  },
  "InterDexPass" : {
    "minimize_cross_dex_refs": true,
    "minimize_cross_dex_refs_method_ref_weight": 100,
    "minimize_cross_dex_refs_field_ref_weight": 90,
    "minimize_cross_dex_refs_type_ref_weight": 100,
    "minimize_cross_dex_refs_string_ref_weight": 90
  },
  "RegAllocPass" : {
        "live_range_splitting": false
  },
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : "class_order"
}